<div class="table__row">
  <div class="table__cell" role="cell">
    <span>{{ user.username }}</span>
  </div>
  <div class="table__cell" role="cell">
    <span>{{ user.firstname }}</span>
  </div>
  <div class="table__cell" role="cell">
    <span>{{ user.lastname }}</span>
  </div>
  <div class="table__cell" role="cell">
    <span>{{ user.address }}</span>
  </div>
  <div class="table__cell" role="cell">
    <span>{{ user.birthNumber }}</span>
  </div>
  <div class="table__cell" role="cell">
    <span>{{ user.isAdmin }}</span>
  </div>
  <div class="table__cell" role="cell">
    <span>{{ user.isBanned }}</span>
  </div>
  <div class="table__cell" role="cell">
    <span>
      <fa-icon [icon]="faCheck"></fa-icon>
    </span>
  </div>
</div>
