<div class="login">
  <div class="login__modal">
    <label class="login__label" for="username">Username</label>
    <br />
    <input #username id="username" class="login__input" />
    <br />
    <label for="password">Password</label>
    <br />
    <input #password id="password" type="password" class="login__input"/>
    <br />
    <button (click)="submitLogin()" class="login__button">Login</button>
    <br />
    <span routerLink="register" class="login__register" >Register</span>
  </div>
</div>
