<div class="table" role="table">
  <div class="table__head" role="rowgroup">
    <div class="table__cell" role="columnheader">Username</div>
    <div class="table__cell" role="columnheader">Book Name</div>
    <div class="table__cell" role="columnheader">Created At</div>
    <div class="table__cell" role="columnheader">Returned At</div>
    <div class="table__cell" role="columnheader">Actions</div>
  </div>
  <div class="table__body">
    <div class="table__list">
      <app-user-history-item *ngFor="let borrow of borrows" [borrow]="borrow"></app-user-history-item>

    </div>
  </div>
</div>
