<div class="table__row">
  <div class="table__cell-small" role="cell">
    <span
      ><img src="{{ book.coverImg }}" alt="" width="50px" height="50px"
    /></span>
  </div>
  <div class="table__cell-big" role="cell">
    <span>{{ book.name }}</span>
  </div>
  <div class="table__cell-big" role="cell">
    <span>{{ book.author }}</span>
  </div>
  <div class="table__cell-small" role="cell">
    <span>{{ book.pageNumber }}</span>
  </div>
  <div class="table__cell-small" role="cell">
    <span>{{ book.publishedYear }}</span>
  </div>
  <div class="table__cell-small" role="cell">
    <span>
      <fa-icon
        [icon]="faBorrow"
        (click)="this.borrow(book.id)"
        *ngIf="!userS.getUser().isAdmin"
      ></fa-icon>
      <fa-icon
        [icon]="faPencil"
        (click)="this.edit(book.id)"
        *ngIf="userS.getUser().isAdmin"
      ></fa-icon>
      <fa-icon
        [icon]="faTrash"
        (click)="this.delete(book.id)"
        *ngIf="userS.getUser().isAdmin"
      ></fa-icon>
    </span>
  </div>
</div>
