<app-login *ngIf="router.url.includes('login')"></app-login>
<app-register *ngIf="router.url.includes('register')"></app-register>
<div
  *ngIf="
    router.url.includes('catalog') ||
    router.url.includes('users') ||
    router.url.includes('pendings') ||
    router.url.includes('books') ||
    router.url.includes('history') ||
    router.url.includes('profile') ||
    router.url.includes('uploader-book') ||
    router.url.includes('edit-book')
  "
>
  <app-sidebar></app-sidebar>
  <app-search-catalog
    *ngIf="router.url.includes('catalog')"
  ></app-search-catalog>
  <app-search-user *ngIf="router.url.includes('user')"></app-search-user>

  <router-outlet></router-outlet>
</div>
