<div class="new-book">
  <h1>Book uploader</h1>
  <label for="image">Select image</label>
  <br />
  <input
    id="image"
    #imageInput
    type="file"
    accept="image/*"
    (change)="processImage($event)"
    class="new-book__input"
  />
  <br />
  <label for="name" class="new-book__name">Name</label>
  <br />
  <input id="name" #name class="new-book__input" type="text" />
  <br />
  <label for="author">Author</label>
  <br />
  <input id="author" #author class="new-book__input" type="text" />
  <br />
  <label for="pageNumber">Number of pages</label>
  <br />
  <input id="pageNumber" #pageNumber class="new-book__input" type="number" />
  <br />
  <label for="publishedYear">Year of publish</label>
  <br />
  <input
    id="publishedYear"
    #publishedYear
    class="new-book__input"
    type="number"
  />
  <br />
  <label for="copies">Copies count</label>
  <br />
  <input id="copies" #copies class="new-book__input" type="number" />
  <br />
  <button (click)="submitBook()" class="new-book__button">Add book</button>
</div>
