<div class="sidebar">
  <div class="sidebar__item-center">
    <img src="assets/images/person-icon.png" class="sidebar__person-icon" />
    <p class="sidebar__user">Admin</p>
    <p class="sidebar__empty-line"></p>
  </div>
  <app-sidebar-item
    title="Book catalog"
    routerLink="catalog"
  ></app-sidebar-item>
  <app-sidebar-item title="Users" routerLink="users"></app-sidebar-item>
  <app-sidebar-item title="Pendings" routerLink="pendings"></app-sidebar-item>( number of pendings: {{ numberOfPendings }} )
  <app-sidebar-item
    title="Admin/User actual borrow books"
    routerLink="books"
  ></app-sidebar-item>
  <app-sidebar-item
    title="User history books"
    routerLink="history"
  ></app-sidebar-item>
  <app-sidebar-item title="My profile" routerLink="profile"></app-sidebar-item>
  <div class="sidebar__item-center">
    <img
      src="assets/images/log-out-icon.png"
      class="sidebar__logout-icon"
      routerLink="login"
    />
  </div>
</div>
