.sidebar {
  width: calc(0% + 220px);
  height: 100%;
  margin: 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  position: fixed;
  background-color: white;

  &__person-icon {
    height: 35px;
    width: 35px;
    opacity: 0.6;
    margin-top: 35px;
  }

  &__user {
    color: #899588;
    margin-top: 5px;
    margin-bottom: 25px;
  }

  &__item-center {
    text-align: center;
  }

  &__empty-line {
    background-color: #e4e4e4;
    padding: 1px;
    margin: 0 50px 25px 50px;
  }

  &__logout-icon {
    cursor: pointer;
    position: absolute;
    bottom: 50px;
    left: 98px;
  }

  &__toggle {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 17px;
    bottom: 100px;
    left: 95px;

    &-text {
      font-size: 0.8em;
      padding: 0 10px;
      text-align: center;
      position: absolute;
      bottom: 101px;
    }

    &-text-right {
      left: 53px;
    }
    &-text-left {
      left: 125px;
    }
  }

  &__toggle input {
    opacity: 0;
  }

  &__toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  &__toggle-slider::before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  &__toggle-slider-round {
    border-radius: 25px;

    &:before {
      border-radius: 50%;
    }
  }
}

input:checked + .sidebar__toggle-slider {
  background-color: #229416;
}

input:focus + .sidebar__toggle-slider {
  box-shadow: 0 0 1px #229416;
}

input:checked + .sidebar__toggle-slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
