<div class="sidebar">
  <div class="sidebar__item-center">
    <img src="assets/images/person-icon.png" class="sidebar__person-icon" />
    <p class="sidebar__user">
      {{ userService.getUser() ? userService.getUser().username : "" }}
    </p>
    <p class="sidebar__empty-line"></p>
  </div>
  <app-sidebar-item
    title="Book catalog"
    routerLink="catalog"
  ></app-sidebar-item>
  <app-sidebar-item
    *ngIf="userService.getUser() ? userService.getUser().isAdmin : false"
    title="Users"
    routerLink="users"
  ></app-sidebar-item>
  <app-sidebar-item
    *ngIf="userService.getUser() ? userService.getUser().isAdmin : false"
    title="{{ pendingsTitle }}"
    routerLink="pendings"
  ></app-sidebar-item>
  <app-sidebar-item
    *ngIf="userService.getUser() ? !userService.getUser()?.isAdmin : false"
    title="My books"
    routerLink="books"
  ></app-sidebar-item>
  <app-sidebar-item
    title="{{ getTitle }}"
    routerLink="history"
  ></app-sidebar-item>
  <app-sidebar-item title="My profile" routerLink="profile"></app-sidebar-item>
  <div class="sidebar__item-center">
    <img
      src="assets/images/log-out-icon.png"
      class="sidebar__logout-icon"
      (click)="logout()"
    />
  </div>
</div>
