<div class="border">
  <div class="tableFix">
    <table class="catalog">
      <thead class="catalog__header">
        <tr>
          <th class="catalog__header-border-top-left">Title</th>
          <th>Name</th>
          <th>Author</th>
          <th>Number of pages</th>
          <th>Year of publication</th>
          <th class="catalog__header-border-top-right">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asset of assets">
          <td>test</td>
          <td>test</td>
          <td>test</td>
          <td>test</td>
          <td>test</td>
          <td>test</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
