.table {
  display: grid;
  flex-direction: column;
  height: 100%;
  margin-left: 270px;
  width: calc(100% - 320px);
  margin-top: 25px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  &__head {
    position: relative;
    display: flex;
    height: 50px;
    background-color: #229416;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
    // padding
    // border bottom
  }

  &__cell {
    flex: 1;
  }

  &__body {
    height: 100%;
    overflow: hidden;
  }

  &__list {
    height: 100%;
    overflow-y: auto;
  }
}
