.catalog {
  margin-left: 270px;
  border-radius: 5px;
  margin-top: 24px;
  width: calc(100% - 320px);

  &-scrollable {
    height: 650px;
    overflow-x: hidden;
  }

  &__header {
    background-color: #229416;
    color: white;
  }

  &__header-border-top-left {
    border-top-left-radius: 10px 10px;
    padding: 10px 0;
  }
  &__header-border-top-right {
    border-top-right-radius: 10px 10px;
  }
}

td {
  padding: 20px 5px;
}

tbody {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  position: sticky;
  top: 0;
}
