.search-bar {
  margin-left: 270px;
  margin-right: 50px;

  &__input {
    margin-top: 85px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: gainsboro;
    width: 20%;
    padding: 10px;
    font-size: 1em;
    padding-left: 30px;
    margin-left: 10px;

    &:focus {
      outline: none;
    }
  }

  &__icon {
    margin-top: 94px;
    position: absolute;
    height: 20px;
    width: 20px;
    opacity: 0.8;
  }

  &__toggle {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
  }

  &__toggle input {
    opacity: 0;
  }

  &__toggle-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  &__toggle-slider::before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  &__toggle-slider-round {
    border-radius: 17px;

    &:before {
      border-radius: 50%;
    }
  }
}

input:checked + .search-bar__toggle-slider {
  background-color: #229416;
}

input:focus + .search-bar__toggle-slider {
  box-shadow: 0 0 1px #229416;
}

input:checked + .search-bar__toggle-slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}
