.table__cell {
  flex: 1;
}

.table__row {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  border: 1px solid lightgray;
  padding: 10px;
}

fa-icon {
  cursor: pointer;
  color: grey;
  &:hover {
    color: black;
  }
}
