.table {
  display: grid;
  flex-direction: column;
  margin-left: 270px;
  width: calc(100% - 320px);
  margin-top: 50px;
  position: absolute;

  &__head {
    position: relative;
    display: flex;
    height: 40px;
    background-color: #229416;
    color: white;
    padding: 10px;
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 10px 10px;
  }

  &__cell {
    flex: 1;
  }

  &__body {
    height: 100%;
    overflow: hidden;
  }

  &__list {
    height: 100%;
    overflow-y: auto;
  }
}
