<div class="table" role="table" *ngIf="bookS.isLoaded.value">
  <div class="table__head" role="rowgroup">
    <div class="table__cell-small" role="columnheader">Thumbnail</div>
    <div class="table__cell-big" role="columnheader">
      Name
      <span
        *ngIf="
          bookS.nameOrderType$.value === 'DESC' ||
          bookS.nameOrderType$.value === ''
        "
        ><fa-icon
          [icon]="faArrowDown"
          (click)="bookS.sortByName('ASC')"
        ></fa-icon
      ></span>
      <span *ngIf="bookS.nameOrderType$.value === 'ASC'"
        ><fa-icon
          [icon]="faArrowUp"
          (click)="bookS.sortByName('DESC')"
        ></fa-icon
      ></span>
    </div>
    <div class="table__cell-big" role="columnheader">
      Author
      <span
        *ngIf="
          bookS.authorOrderType$.value === 'DESC' ||
          bookS.authorOrderType$.value === ''
        "
        ><fa-icon
          [icon]="faArrowDown"
          (click)="bookS.sortByAuthor('ASC')"
        ></fa-icon
      ></span>
      <span *ngIf="bookS.authorOrderType$.value === 'ASC'"
        ><fa-icon
          [icon]="faArrowUp"
          (click)="bookS.sortByAuthor('DESC')"
        ></fa-icon
      ></span>
    </div>
    <div class="table__cell-small" role="columnheader">Number of pages</div>
    <div class="table__cell-small" role="columnheader">
      Year of publication
      <span
        *ngIf="
          bookS.yearOrderType$.value === 'DESC' ||
          bookS.yearOrderType$.value === ''
        "
        ><fa-icon
          [icon]="faArrowDown"
          (click)="bookS.sortByYear('ASC')"
        ></fa-icon
      ></span>
      <span *ngIf="bookS.yearOrderType$.value === 'ASC'"
        ><fa-icon
          [icon]="faArrowUp"
          (click)="bookS.sortByYear('DESC')"
        ></fa-icon
      ></span>
    </div>
    <div class="table__cell-small" role="columnheader">Actions</div>
  </div>
  <div class="table__body">
    <div class="table__list">
      <app-catalog-item
        *ngFor="let book of bookS.books"
        [book]="book"
      ></app-catalog-item>
    </div>
  </div>
</div>

<div class="table">
  <div class="table__body" *ngIf="!bookS.isLoaded.value">
    <div class="table__list">
      <div class="table__loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>
