<div class="table__row">
  <div class="table__cell" role="cell" *ngIf="userS.getUser().isAdmin">
    <span>{{ borrow.userName }}</span>
  </div>
  <div class="table__cell" role="cell">
    <span>{{ borrow.bookName }}</span>
  </div>
  <div class="table__cell" role="cell">
    <span>{{ borrow.createdAt | date }}</span>
  </div>
  <div class="table__cell" role="cell">
    <span>{{ borrow.returnsAt | date }}</span>
  </div>
  <div class="table__cell" role="cell">
    <span>
      <fa-icon
        [icon]="faReturn"
        (click)="this.returnBook()"
        *ngIf="!userS.getUser().isAdmin"
      ></fa-icon>
    </span>
  </div>
</div>
