<div class="table__row">
  <div class="table__cell" role="cell">
    <span>{{ borrow.userName }}</span>
  </div>
  <div class="table__cell" role="cell">
    <span>{{ borrow.bookName }}</span>
  </div>
  <div class="table__cell" role="cell">
    <span>{{ borrow.createdAt | date }}</span>
  </div>
  <div class="table__cell" role="cell">
    <span>{{ borrow.returnsAt | date }}</span>
  </div>
  <div class="table__cell" role="cell">
    <span>
      <fa-icon [icon]="faReturn"></fa-icon>
    </span>
  </div>
</div>
