<div class="register">
  <label for="username">Username</label>
  <input id="username" #username />
  <br />
  <label for="password">Password</label>
  <input id="password" #password />
  <br />
  <label for="repeatedPassword">Repeated Password</label>
  <input id="repeatedPassword" #repeatedPassword />
  <br />
  <label for="firstname">Firstname</label>
  <input id="firstname" #firstname />
  <br />
  <label for="lastname">Lastname</label>
  <input id="lastname" #lastname />
  <br />
  <label for="birthNumber">Birth Number</label>
  <input id="birthNumber" #birthNumber />
  <br />
  <label for="address">Address</label>
  <input id="address" #address />
  <br />
  <button routerLink="login" (click)="submitRegister()">Register</button>
</div>
