<div class="register">
  <label for="username">Username</label>
  <br />
  <input id="username" class="register__input" #username />
  <br />
  <label for="password">Password</label>
  <br />
  <input id="password" class="register__input" #password type="password" />
  <br />
  <label for="repeatedPassword">Repeated Password</label>
  <br />
  <input id="repeatedPassword" class="register__input" #repeatedPassword type="password" />
  <br />
  <label for="firstname">Firstname</label>
  <br />
  <input id="firstname" class="register__input" #firstname />
  <br />
  <label for="lastname">Lastname</label>
  <br />
  <input id="lastname" class="register__input" #lastname />
  <br />
  <label for="birthNumber">Birth Number</label>
  <br />
  <input id="birthNumber" class="register__input" #birthNumber />
  <br />
  <label for="address">Address</label>
  <br />
  <input id="address" class="register__input" #address />
  <br />
  <button routerLink="login" class="register__button" (click)="submitRegister()">Register</button>
  <br />
    <span routerLink="login" class="register__register" >Login</span>
</div>
