<div class="login">
  <div class="login__modal">
    <label for="username">Username</label>
    <input #username id="username" />
    <br />
    <label for="password">Password</label>
    <input #password id="password" type="password" />
    <br />
    <button (click)="submitLogin()">Login</button>
    <br />
    <br />
    <span>no login?</span>
    <button routerLink="register">go to register</button>
  </div>
</div>

<!-- <div class="login">
  <div class="left">
    <div class="overlay">
      <h1>e-library</h1>
      <p>
        Welcome in our electronic library. Let's borrow your favorite book and
        enjoy reeding
      </p>
    </div>
  </div>

  <div class="right">
    <h1>Login</h1>
    <p>
      Don't have an account? <a href="#">Creat Your Account</a> it takes less
      than a minute
    </p>
    <div class="inputs">
      <input #username type="text" placeholder="user name" />
      <br />
      <input #password type="password" placeholder="password" />
    </div>
    <button (click)="submitLogin()">Login</button>
  </div>
</div> -->
