.login {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid green;
  text-align: center;
}

.error-message {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;

  padding: 20px 0;

  background-color: red;
  color: whitesmoke;
  text-align: center;
}
