<div class="table" role="table" *ngIf="this.userS.isLoaded.value">
  <div class="table__head" role="rowgroup">
    <div class="table__cell-big" role="columnheader">Username</div>
    <div class="table__cell-small" role="columnheader">
      Firstname <span><fa-icon [icon]="faArrowDown"></fa-icon></span>
    </div>
    <div class="table__cell-small" role="columnheader">
      Lastname <span><fa-icon [icon]="faArrowDown"></fa-icon></span>
    </div>
    <div class="table__cell-big" role="columnheader">
      Address <span><fa-icon [icon]="faArrowDown"></fa-icon></span>
    </div>
    <div class="table__cell-small" role="columnheader">
      Birth number <span><fa-icon [icon]="faArrowDown"></fa-icon></span>
    </div>
    <div class="table__cell-small" role="columnheader">Admin</div>
    <div class="table__cell-small" role="columnheader">Banned</div>
    <div class="table__cell-small" role="columnheader">Actions</div>
  </div>
  <div class="table__body">
    <div class="table__list">
      <app-users-item
        *ngFor="let user of userS.users"
        [user]="user"
      ></app-users-item>
    </div>
  </div>
</div>

<div class="table">
  <div class="table__body" *ngIf="!this.userS.isLoaded.value">
    <div class="table__list">
      <div class="table__loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>
