<div class="register">
  <label for="username">Username</label>
  <input id="username" />
  <br />
  <label for="password">Password</label>
  <input id="password" />
  <br />
  <label for="repeatedPassword">Repeated Password</label>
  <input id="repeatedPassword" />
  <br />
  <label for="firstname">Firstname</label>
  <input id="firstname" />
  <br />
  <label for="lastname">Lastname</label>
  <input id="lastname" />
  <br />
  <label for="birthNumber">Birth Number</label>
  <input id="birthNumber" />
  <br />
  <label for="address">Address</label>
  <input id="address" />
  <br />
  <button routerLink="login" (click)="submitRegister()">Register</button>
</div>
