<div class="search-bar">
  <img src="assets/images/search-icon.png" class="search-bar__icon" />
  <input class="search-bar__input" type="text" placeholder="Type name ..." />
  <input class="search-bar__input" type="text" placeholder="Type title ..." />
  <input class="search-bar__input" type="text" placeholder="Type year ..." />
  <button>Search</button>

  <label class="search-bar__toggle">
    <input type="checkbox" />
    <span
      class="search-bar__toggle-slider search-bar__toggle-slider-round"
    ></span>
  </label>
  <button routerLink="uploader-book">Add book</button>
</div>
