.sidebar-item {
  margin: 10px 10px;

  &__title {
    text-align: center;
    cursor: pointer;
    padding: 10px 5px;
  }

  &-active {
    background-color: #229416;
    border-radius: 10px;
    color: white;
  }
}
