.table__cell-small {
  flex: 1;
}

.table__cell-big {
  flex: 2;
}

.table__row {
  position: relative;
  display: flex;
  align-items: center;
  height: 60px;
  border: 1px solid lightgray;
  padding: 10px;
}

fa-icon {
  cursor: pointer;
  margin-right: 5px;

  color: gray;
  &:hover {
    color: black;
  }
}
