<div class="table__row">
  <div class="table__cell-big" role="cell">
    <span>{{ user.username }}</span>
  </div>
  <div class="table__cell-small" role="cell">
    <span>{{ user.firstname }}</span>
  </div>
  <div class="table__cell-small" role="cell">
    <span>{{ user.lastname }}</span>
  </div>
  <div class="table__cell-big" role="cell">
    <span>{{ user.address }}</span>
  </div>
  <div class="table__cell-small" role="cell">
    <span>{{ user.birthNumber }}</span>
  </div>
  <div class="table__cell-small" role="cell">
    <span>{{ user.isAdmin }}</span>
  </div>
  <div class="table__cell-small" role="cell">
    <span>{{ user.isBanned }}</span>
  </div>
  <div class="table__cell-small" role="cell">
    <span>
      <fa-icon
        [icon]="faUp"
        title="promote"
        *ngIf="!user.isAdmin"
        (click)="promote()"
      ></fa-icon>
      <fa-icon
        [icon]="faDown"
        title="demote"
        *ngIf="user.isAdmin"
        (click)="demote()"
      ></fa-icon>
      <fa-icon
        [icon]="faBan"
        title="ban"
        *ngIf="!user.isBanned"
        (click)="ban()"
      ></fa-icon>
      <fa-icon
        [icon]="faUnban"
        title="unban"
        *ngIf="user.isBanned"
        (click)="unban()"
      ></fa-icon>
    </span>
  </div>
</div>
