<div class="table" role="table" *ngIf="pendingsS.isLoaded.value">
  <div class="table__head" role="rowgroup" *ngIf="pendingsS.users.length">
    <div class="table__cell" role="columnheader">Username</div>
    <div class="table__cell" role="columnheader">Firstname</div>
    <div class="table__cell" role="columnheader">Lastname</div>
    <div class="table__cell" role="columnheader">Address</div>
    <div class="table__cell" role="columnheader">Birth Number</div>
    <div class="table__cell" role="columnheader">Admin</div>
    <div class="table__cell" role="columnheader">Banned</div>
    <div class="table__cell" role="columnheader">Actions</div>
  </div>
  <div *ngIf="!pendingsS.users.length">No pendings</div>
  <div class="table__body">
    <div class="table__list">
      <app-pendings-item
        *ngFor="let user of pendingsS.users"
        [user]="user"
      ></app-pendings-item>
    </div>
  </div>
</div>

<div class="table">
  <div class="table__body" *ngIf="!pendingsS.isLoaded.value">
    <div class="table__list">
      <div class="table__loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>
