<div class="table" role="table" *ngIf="isLoaded.value">
  <div class="table__head" role="rowgroup">
    <div
      class="table__cell"
      role="columnheader"
      *ngIf="userS.getUser().isAdmin"
    >
      Username
    </div>
    <div class="table__cell" role="columnheader">Book Name</div>
    <div class="table__cell" role="columnheader">Created At</div>
    <div class="table__cell" role="columnheader">Returned At</div>
  </div>
  <div class="table__body">
    <div class="table__list">
      <app-history-item
        *ngFor="let borrow of borrows"
        [borrow]="borrow"
      ></app-history-item>
    </div>
  </div>
</div>

<div class="table">
  <div class="table__body" *ngIf="!isLoaded.value">
    <div class="table__list">
      <div class="table__loader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>
  </div>
</div>
