<div class="table__row">
  <div class="table__cell" role="cell">
    <span>{{ asset.title }}</span>
  </div>
  <div class="table__cell" role="cell">
    <span>{{ asset.name }}</span>
  </div>
  <div class="table__cell" role="cell">
    <span>{{ asset.author }}</span>
  </div>
  <div class="table__cell" role="cell">
    <span>{{ asset.numberOfPages }}</span>
  </div>
  <div class="table__cell" role="cell">
    <span>{{ asset.yearOfPublication }}</span>
  </div>
  <div class="table__cell" role="cell">
    <span>{{ asset.actions }}</span>
  </div>
</div>
